NODE_ENV="development"

# Logging
LOG_LEVEL="DEBUG"
LOG_TIPS="true"

# Directories
WATCHER_DIR="./src"
DOWNLOADS_DIR="./src/downloads"
DATABASE_URL= # e.g., "file:/usr/sqlite.db"

# Server Configuration
APP_HOST="localhost"
APP_PORT="3001"
