### Development ###
src/downloads/
__tests__/
dev.*.json
CONTRIBUTING.md

### Environment & OS ###
.DS_Store
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### PyCharm & VSCode ###
.idea/
.idea_modules/
out/
*.iml
modules.xml
.vscode/*
.history/
*.vsix
.history
.ionide

### Python ###
__pycache__/
__pypackages__/
.Python
*.log
MANIFEST